<h2>Pokemon Center:</h2>
<ul>
   <!--   @for (pokemon of pokemonList; track pokemon.id) {
    <li (click)="loadDetail(pokemon.id)">
       
        <h3>{{pokemon.name}}</h3>
            <span></span>
            <div>
                {{pokemon.gen}}
            </div>
            <div>
                {{pokemon.legend}}
            </div>
            <div>
                {{pokemon.type1}}
            </div>
        
    </li>
    } -->
    <button (click)="getTestPokemon()">Prueba pokemon</button>
</ul>
